@import "tailwindcss";

@theme inline {
  --color-main: var(--color-main);
  --color-red: var(--color-red);
  --color-primary: var(--color-primary);
  --color-wrapper: var(--color-wrapper);
  --color-second: var(--color-second);
  --color-grey: var(--color-grey);
}

:root {
  --color-main: #da7415;
  --color-red: #de2b3f;
  --color-primary: #ffffff;
  --color-wrapper: #f0f5fd;
  --color-second: #282b2a;
  --color-grey: #91919133;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #da7415;
    --color-red: #de2b3f;
    --color-primary: #1f2125;
    --color-wrapper: #121416;
    --color-second: #fbfdff;
    --color-grey: #5b5c5d;
  }
}

body {
  background-color: var(--color-wrapper);
  font-family: "Montserrat", sans-serif;
  color: var(--color-second);
}

h1 {
  color: var(--color-second);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.input {
  color: var(--color-second);
}

.input::placeholder {
  color: var(--color-second);
  opacity: 0.3;
}

.btn {
  width: 100%;
}

.btn.default {
}

.btn.primary {
}

.btn.default-outline {
}

.btn.primary-outline {
  color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 16px;
  border-radius: 30px;
}

@media screen and (max-width: 640px) {
  .auth__wrapper {
    gap: 44px;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 24px;
    height: 100vh;
  }

  .auth__form {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 50px 50px 0 0;
    background-color: var(--color-primary);
    padding: 36px 48px;
  }

  .input::placeholder {
    font-size: 12px;
    font-weight: 400;
  }
  .input:focus-visible {
    outline: transparent;
    border-color: var(--color-main);
  }
}
