@import "tailwindcss";

@theme inline {
  --color-main: var(--color-main);
  --color-red: var(--color-red);
  --color-primary: var(--color-primary);
  --color-wrapper: var(--color-wrapper);
  --color-second: var(--color-second);
  --color-grey: var(--color-grey);
}

:root {
  --color-main: #da7415;
  --color-red: #de2b3f;
  --color-primary: #ffffff;
  --color-wrapper: #f0f5fd;
  --color-second: #282b2a;
  --color-grey: #91919133;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #da7415;
    --color-red: #de2b3f;
    --color-primary: #1f2125;
    --color-wrapper: #121416;
    --color-second: #fbfdff;
    --color-grey: #5b5c5d;
  }
}

body {
  background-color: var(--color-wrapper);
  font-family: "Montserrat", sans-serif;
  color: var(--color-second);
}

h1 {
  color: var(--color-second);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* ---ИНПУТЫ--- */
.input {
  color: var(--color-second);
}

.input::placeholder {
  color: var(--color-second);
  opacity: 0.3;
}

/* ---КНОПКИ--- */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 60px;
}

.btn.default {
}

.btn.primary {
}

.btn.default-outline {
}

.btn.primary-outline {
  color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 17px;
  border-radius: 30px;
}

/* ---ЛОАДЕР--- */
.loader {
  --loader: 65px;
  --loader-width: calc(var(--loader)/1.8);
  width: var(--loader);
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--color-second);
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 var(--loader-width) var(--loader-width) 0;
  }
  12.5% {
    inset: 0 var(--loader-width) 0 0;
  }
  25% {
    inset: var(--loader-width) var(--loader-width) 0 0;
  }
  37.5% {
    inset: var(--loader-width) 0 0 0;
  }
  50% {
    inset: var(--loader-width) 0 0 var(--loader-width);
  }
  62.5% {
    inset: 0 0 0 var(--loader-width);
  }
  75% {
    inset: 0 0 var(--loader-width) var(--loader-width);
  }
  87.5% {
    inset: 0 0 var(--loader-width) 0;
  }
  100% {
    inset: 0 var(--loader-width) var(--loader-width) 0;
  }
}


/* ---МОБИЛКА--- */
@media screen and (max-width: 640px) {
  .auth__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
    padding-top: 24px;
    min-height: 100dvh;
  }

  .auth__form {
    max-width: 100%;
    width: 100%;
    min-height: 615px;
    border-radius: 50px 50px 0 0;
    background-color: var(--color-primary);
    padding: 36px 48px;
    margin-top: auto;
  }

  .input::placeholder {
    /* font-size: 12px; */
    font-weight: 400;
  }
  .input:focus-visible {
    outline: transparent;
    border-color: var(--color-main);
  }
}
